* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* =======roots================ */
:root {
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);

  --Veryvarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  /* (with 75% opacity for lightbox background) */

  /* =======font========= */
  --fontfam: "Kumbh Sans", sans-serif;
}

/* =========nav-bar========== */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
/* =======logo and toggle adjusting===== */
.head-container {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  gap: 20px;
}
.toggle-menu {
  width: 20px;
  cursor: pointer;
}

/* ========links container position absolute and translate -100 so they disapppear */

.links-container {
  display: block;
  background-color: var(--White);
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 200px;
  transform: translateX(-100%);
  transition: 500ms ease-in-out;
  z-index: 999;
}
/* ======js class============= */
.open-menu {
  transform: translateX(0%);
}
/* =========actual links adjustement === */
.nav-links {
  position: relative;
  left: 55px;
  top: 80px;
  margin-top: 50px;
}
.link {
  list-style-type: none;
  margin-bottom: 20px;
}
.link a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--fontfam);
  font-size: 24px;
  font-weight: 700;
  color: var(--Veryvarkblue);
}

/* =========close btn ============ */
#close-btn {
  position: relative;
  cursor: pointer;
  top: 20px;
  left: 15px;
  font-size: 30px;
  color: var(--Darkgrayishblue);
}

/* =======global-info flex and align center */
.global-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 10vh;
  width: 200px;
  margin-right: 20px;
}
/* ======profile pic size======= */
.profile-picture {
  width: 30px;
  cursor: pointer;
}
/* ====== cart and number displayed above the cart */
.cart {
  position: absolute;
  top: 30px;
  cursor: pointer;
}
.cart:hover + .cart-info {
  opacity: 1;
}
.items-in-cart {
  position: relative;
  cursor: pointer;
  opacity: 0;
  padding: 0px 5px;
  left: 12px;
  color: white;
  bottom: 5px;
  z-index: 999;
  background-color: var(--Orange);
  border-radius: 50%;
}
/* ======js class ============ */
.show-item-cart-number {
  opacity: 1;
}

/* =========cart box========== */
.cart-info {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 94vw;
  background-color: var(--White);
  transform: translateX(-63%);
  margin-top: 40px;
  min-height: 30vh;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  padding-bottom: 20px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}
/* =======cart title and the line after it=== */
.title {
  width: 90%;
  margin-top: 20px;
  text-transform: capitalize;
  font-family: var(--fontfam);
  font-weight: 400;
  color: var(--Veryvarkblue);
  margin-bottom: 20px;
}
.title::after {
  content: " ";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: var(--Veryvarkblue);
}
/* ===========js class to open car list */
.show-cart-info {
  opacity: 1;
}
/* ========item and cart - info========= */
.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Darkgrayishblue);

  flex-direction: column;
  position: relative;
  width: 90%;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;
}
.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 6px;

  cursor: pointer;
  border-radius: 5px 0px 0px 5px;
  transition: 200ms ease-in;
}

.item-info:hover {
  background-color: var(--Orange);
  color: white;
}

/* ========text inside cart======== */
.text {
  font-family: var(--fontfam);
  font-weight: 400;
  width: 80%;
  font-size: 20px;

  text-transform: capitalize;
}
/* =======total price of item selected=== */
.total {
  font-weight: 700;
  color: var(--Black);
}
/* =========item img========= */
.item-img {
  width: 50px;
}
/* ========checkout btn===== */
.checkout-btn {
  cursor: pointer;
  font-family: var(--fontfam);
  font-size: 20px;
  font-weight: 700px;
  background-color: var(--Orange);
  color: white;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  transition: 200ms ease-in;
}
.checkout-btn:hover {
  opacity: 0.5;
}
/* ==========end of nav-bar====== */

/* ========main section========== */
.main-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 120vh;
}
/* ===== main image container========= */
.main-Image-container {
  width: 100vw;
}
.main-img {
  width: 100vw;
}
/* ========switch btns margin - px in order to get them inside the image and check our responsivness=========== */
.switch-btns {
  display: flex;
  width: 85vw;
  margin-left: 50px;
  margin-top: -220px;
  justify-content: space-between;
}
/* ===============previous btn */
.previous-btn {
  cursor: pointer;
  background-color: var(--Lightgrayishblue);
  padding: 15px 20px;
  border-radius: 50%;
}
/* ==========next-btn======= */
.next-btn {
  cursor: pointer;
  background-color: var(--Lightgrayishblue);
  padding: 15px 20px;
  border-radius: 50%;
}
.previous-btn:hover,
.next-btn:hover {
  opacity: 0.6;
}

/* =========text container styling====== */
.text-content {
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  flex-wrap: wrap;
}
.text-content h3 {
  font-family: var(--fontfam);
  font-weight: 400;
  color: var(--Orange);
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-content h1 {
  margin-bottom: 10px;
  font-family: var(--fontfam);
  font-weight: 700;
  text-transform: capitalize;
}
.text-content p {
  font-family: var(--fontfam);
  font-weight: 400;
  color: var(--Darkgrayishblue);
  margin-bottom: 10px;
}
/* ==========price info section==== */
.prices-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
}
/* ========main price======== */
.main-price {
  font-weight: 700;
  font-family: var(--fontfam);
}
/* =========discount===== */
.main-price span {
  color: var(--Orange);
  margin-left: 10px;
}
/* =======main discount=========== */
.main-price span::after {
  content: " ";
  width: 40px;
  height: 22px;
  background-color: var(--Orange);
  opacity: 0.2;
  position: absolute;
  margin-left: -36px;
  margin-top: -2px;
  border-radius: 2px;
}
/* =======old price========= */
.old-price {
  text-decoration: line-through;
  color: var(--Darkgrayishblue);
}

/* ========btn containe========= */
